body{
    background-color:  rgba(0, 0, 255, 0.3)
}
img {
    width: 100%;
    height: auto;
}

.jumbotron {
    background-color: blue;
    color: white;
}

footer {
    padding: 10px 20px 0 10px;
    background-color: blue;
    margin-bottom: 0px;
    margin-top: 10px;
    color:white
}
a{
    color: lightblue;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px;
    margin-top: 10px;
    background-color:  rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    min-width: 250px;
}

.btn-reserve {
    width: 100%;

}